<style>

</style>

<div class="column">
  <h1>Static</h1>

  <!-- normal -->
  <h4>normal:</h4>
  <div class="set squared">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- tilted -->
  <h4>tilted:</h4>
  <div class="set squared tilted">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded tilted">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- overflowed -->
  <h4>inflated:</h4>
  <div class="set squared overflowed">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded overflowed">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- overflowed tilted -->
  <h4>inflated and tilted:</h4>
  <div class="set squared overflowed tilted">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded overflowed tilted">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- raised -->
  <h4>raised:</h4>
  <div class="set overflowed raised">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- raided tilted -->
  <h4>raised and tilted:</h4>
  <div class="set overflowed raised tilted">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
</div>

<div class="column">
  <h1>Animated</h1>
  <!-- fall rise -->
  <h4>fold back and jump:</h4>
  <div class="set squared bg-fall fg-rise fg-color">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded bg-fall fg-rise fg-color">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- icon rise -->
  <h4>jump:</h4>
  <div class="set squared icon-rise">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded icon-rise">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- icon inflate -->
  <h4>inflate all:</h4>
  <div class="set squared icon-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded icon-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- inflate -->
  <h4>inflate icon only:</h4>
  <div class="set squared fg-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded fg-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- inflate shadow -->
  <h4>inflate and shadow icon:</h4>
  <div class="set squared fg-inflate fg-shadow">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded fg-inflate fg-shadow">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- fall inflate color -->
  <h4>fall back and inflate icon:</h4>
  <div class="set squared bg-fall fg-inflate fg-color">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded bg-fall fg-inflate fg-color">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- fade -->
  <h4>fade:</h4>
  <div class="set squared bg-fade">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded bg-fade">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  
  <!-- fade inflate -->
  <h4>fade and inflate:</h4>
  <div class="set squared bg-fade fg-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded bg-fade fg-inflate">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
    
  <!-- tilt -->
  <h4>tilt all:</h4>
  <div class="set squared icon-tilt">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded icon-tilt">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

  <!-- fade inflate tilt -->
  <h4>fade, inflate and tilt:</h4>
  <div class="set squared bg-fade fg-inflate fg-tilt">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded bg-fade fg-inflate fg-tilt">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>

    <!-- fade inflate tilt -->
  <h4>inflate, tilt and shadow icon:</h4>
  <div class="set squared fg-inflate fg-tilt fg-shadow">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
  <div class="set rounded fg-inflate fg-tilt fg-shadow">
    <a href="##" class="social facebook">Facebook</a>
    <a href="##" class="social twitter">Twitter</a>
    <a href="##" class="social google-plus">Google+</a>
    <a href="##" class="social pinterest">Pinterest</a>
    <a href="##" class="social instagram">Instagram</a>
    <a href="##" class="social linked-in">LinkedIn</a>
  </div>
</div>

  
  
  