<%= stylesheet_link_tag 'test_main' %>
<script>
    /*
* Wanted to recreate a progress indicator of a [journalism website](https://decorrespondent.nl/en "online journalism platform")
* It's basically a fork of [this thing here on CodePen](http://codepen.io/thathurtabit/pen/ymECf "")
* [tutorial on ghosthorses.co.uk](http://www.ghosthorses.co.uk/production-diary/super-simple-responsive-progress-bar/ "")
* Simply test this script, by clicking the top-left button; add more paragraphs in the article: it should work, no matter how long or short the article.
* On mobile please try http://bramdeh.home.xs4all.nl/playground/ui-patterns/reading-progress-bar/ (CodePen's iFrame conflict)
*/
$(function() {
    $("body").prepend("<div class='fixed'><div class='progress-wrap' data-progress-percent='0'><div class='progress-bar'></div></div></div>");
    });
$( "#addP" ).click(function() {
  $( "article" ).prepend("<p class='new-paragraph'>New paragraph: adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.</p>" );
});

// on page load...
//
$(window).scroll(function () {

  moveProgressBar();
  // on browser resize...
  $(window).resize(function() {
    moveProgressBar();
  });

  // SIGNATURE PROGRESS
  function moveProgressBar() {
    console.log("moveProgressBar");
    var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
    var getProgressWrapWidth = $('.progress-wrap').width();

    var zeroHeight = jQuery(window).height() // get minimal amount of scroll
  if ($(window).scrollTop() < zeroHeight) {
    var progressTotal = getPercent * getProgressWrapWidth;

    var animationLength = 500;

  }

    var tenthHeight = jQuery(window).height() / 10 // Splits screen in ten parts, to get at least 1/10 of window height
      if ($(window).scrollTop() > tenthHeight) {

        var calcDivider =  ( jQuery(document).height() - jQuery(window).height() ) / 532;

        var progressTotal = (getPercent * getProgressWrapWidth  + $ (window).scrollTop()) / calcDivider;

        var animationLength = 500;
      }

    // on page load, animate percentage bar to data percentage length
    // .stop() used to prevent animation queueing
    $('.progress-bar').stop().animate({
      left: progressTotal
    }, animationLength);
  }

})
</script>

<article>
  <button id="addP" class="btn">add a paragraph</button>
  <!-- <h1><a href="http://codepen.io/atelierbram/pen/nKGoD">Reading Progress Indicator</a></h1> -->
  <p>
  1. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  2. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  3. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>

  <p>
  4. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  5. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  6. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  7. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  8. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  9. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  10. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  11. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  12. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  13. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  14. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  15. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  16. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  17. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  18. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  19. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  20. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  21. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  22. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  23. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  24. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  25. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  26. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  27. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  28. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  29. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  30. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  31. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  32. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  33. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  34. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
  <p>
  35. Adipisicing quasi natus dignissimos veritatis quasi. Nesciunt aliquam harum distinctio nobis modi dolorem incidunt tempora repudiandae harum. Voluptas eum harum mollitia officia non magni quos! Repellat architecto similique fuga aliquid.
  </p>
</article>
